<p>
  You have received <%= @formatted_amount %> to spend on projects in your <%= @group.name %> Cobudget group!
</p>

<p>
  Decide now which projects to allocate your funds to by <%= link_to 'checking out the current bucket proposals in your group', "#{root_url}#/groups/#{@group.id}" %> .
</p>
